name: Docker Image CI

on:
  push:
    branches: ["main"]
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy"
        required: true
        default: "staging"
        type: choice
        options:
          - staging
          - production
      logLevel:
        description: "Log level"
        required: false
        default: "info"

jobs:
  build:
    runs-on: ubuntu:latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Image to Docker Hub
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: kevinsee/tailscale-gitops:latest
